<div class="container">
  <header>
    <h1>Dziennik Treningowy</h1>
    <div class="hamburger" (click)="toggleMenu()" [class.rotated]="menuOpen">
      ☰
    </div>
  </header>

  <nav id="menu" class="menu" [class.hidden]="!menuOpen">
    <h2>📅 Wybierz istniejący dzień treningowy</h2>
    <select [(ngModel)]="selectedDate" (change)="onDayChange($event)">
  <option *ngFor="let day of days" [value]="day.date">{{day.date}}</option>
</select>

    
  </nav>

 <div >
  <h2>➕ Dodaj nowy dzień:</h2>
  <form (ngSubmit)="addNewDay()" #newDayForm="ngForm" class="add-day-form">
    <input type="date" [(ngModel)]="newDayDate" name="dayDate" required />
    <button type="submit" [disabled]="newDayForm.invalid">Dodaj</button>
  </form>

  <!-- Wyświetl aktualny dzień -->
  <div *ngIf="currentDay" class="current-day-panel">
   <h1>{{ currentDay?.date }}</h1>
    <!-- Input na nazwę ćwiczenia -->
    <input type="text" [(ngModel)]="newExerciseName" placeholder="Nazwa ćwiczenia" name="exerciseName" />

    <!-- Dodaj ćwiczenie -->
    <button style="margin-bottom: 20px;" (click)="addExercise()" [disabled]="!newExerciseName.trim()" class="add-set-btn">
      Dodaj ćwiczenie
    </button>
    
  </div>
</div>

<div class="blurred-background"></div>
  <div id="currentDayContainer">
    <!-- renderowanie ćwiczeń -->
  <div *ngIf="currentExercises?.length; else noData">
<app-exercise
  *ngFor="let ex of currentExercises; trackBy: trackByExercise"
  [exercise]="ex"
  [userKey]="userKey"
  [currentDay]="currentDay">
</app-exercise>
    </div>
    <ng-template #noData>
      <p>Brak danych na ten dzień.</p>
    </ng-template>
  </div>
</div>
