
<div class="main-content">
  <div class="blurred-background"></div>
  <div class="studio-card" *ngFor="let studio of presentedStudios" (click)="showDetails(studio)">
    <h3>{{ studio.studioName}}</h3>
    <div *ngIf="studio.imageUrl" class="upload-preview-container">
      <img [src]="studio.imageUrl" alt="Uploaded Image">
    </div>
    <p><strong>Lokalizacja:</strong> {{ studio.location }}</p>
    <p><strong>Właściciel:</strong> {{ studio.ownerUsername }}</p>
    <div *ngIf="authService.isAdmin === true" class="delete-button-container">
      <button mat-raised-button color="warn" (click)="deleteStudio($event, studio)">Usuń</button>
  </div>
    
    <!-- <h4>Usługi:</h4>
    <ul>
      <li *ngFor="let service of studio.service">
       
        <h5>{{ service.title }}</h5>
        <p>{{ service.description }}</p>
        
      </li>
    </ul> -->
  </div>
</div>